
h1 {
	color: black;
	padding: 25px 10px;
	text-align: center;
	background-image: white;
	animation: rainbowtext 4s linear infinite

}
@keyframes rainbowtext {
	0% {color: red;}
	14% {color: Orange;}
	28% {color: yellow;}
	42% {color: green;}
	56% {color: blue;}
	70% {color: Indigo;}
	84% {color: Violet;}
	100% {color: red;}
}
.btn-group{
	text-align: center;
	color: green;
	text-color: black;
}
body { background-image: url("SpaceBackground.jpg")}












p {
  color: white;
  width: 500px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}
