body { background-image: url("SpaceBackground.jpg")
}
h1 {
	color: black;
	text-decoration: underline;
	padding: 25px 10px;
	text-align: center;
	background-image: white;
	animation: rainbowtext 4s linear infinite

}
	
@keyframes rainbowtext {
	0% {color: red;}
	14% {color: Orange;}
	28% {color: yellow;}
	42% {color: green;}
	56% {color: blue;}
	70% {color: Indigo;}
	84% {color: Violet;}
	100% {color: red;}
}
.btn-group{
	text-align: center;
	color: green;
	text-color: black;
}
ul {color: white;
columns: 2;
column-gap: 1em;
text-align: center;
border: 3px solid white;
background-clip: content-box;
}
pbio {
	color: white;
	text-align: center;
	max-width: 500px;
}













p {
  color: white;
  width: 1000px;
  margin: auto;
  border: 3px solid white;
  padding: 10px;
}
